body {
  text-align: center;
  font-family: Arial;
  background: linear-gradient(#4facfe, #00f2fe);
  color: white;
}

#word-box {
  font-size: 30px;
  margin: 20px;
}

canvas {
  background: #1e1e1e;
  border-radius: 50%;
}
