body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #1f1c2c, #928dab);
  color: white;
}

canvas {
  margin-top: 20px;
  background: rgba(255,255,255,0.1);
  border-radius: 20px;
}

#currentWord {
  font-size: 28px;
  color: #00ffcc;
  letter-spacing: 6px;
}

#word-box div {
  font-size: 24px;
  margin: 8px;
  letter-spacing: 5px;
  transition: 0.3s;
}

button {
  margin: 10px;
  padding: 12px 25px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(45deg, #00c3ff, #ffff1c);
  font-weight: bold;
}
