body {
  text-align: center;
  font-family: Arial;
  background: #121212;
  color: white;
}

canvas {
  margin-top: 20px;
  background: #1e1e1e;
  border-radius: 10px;
}

#word-box {
  margin-top: 20px;
}

#word-box div {
  font-size: 22px;
  margin: 5px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #00c3ff;
  color: white;
}
